.react-calendar {
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  padding: 0px !important;
  margin-top: 10px;
  border-radius: 6px 6px 0px 6px !important;
  box-shadow: 0 0px 10px 0 rgba(48, 48, 48, 0.1) !important;
  background-color: #ffffff;
}
/* .rdrDateDisplayWrapper {
  background-color: rgb(239, 242, 247);
  display: none;
} */
.rdrCalendarWrapper {
  color: #000000;
  min-width: 350px;
  font-size: 12px;
}
.rdrMonthAndYearWrapper {
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  padding-top: 0px !important;
}
.rdrMonthAndYearPickers {
  font-weight: 600;
  font-size: 20px !important;
}
.rdrMonth .rdrWeekDays > span {
  font-size: 14px !important;
}
.rdrDayNumber > span {
  font-size: 20px !important;
}

/* // NOTE: the order of these styles DO matter */

/* // Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  background: #0057b8 !important;
  color: white;
  border: 1px solid #0057b8 !important;
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: #0057b8 !important;
  border: 1px solid #0057b8 !important;
  color: white;
  border: none;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: #acacac;
  border: 1px solid #acacac;
  color: white;
}

/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #0057b8;
}
.DayPickerNavigation_button__horizontal {
  outline: none;
}
.CalendarMonth_table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
}
.SingleDatePicker {
  position: relative;
  display: inline-block;
  width: 100% !important;
}

.SingleDatePickerInput__withBorder {
  border: 1px solid #dbdbdb;
  height: 38px;
  width: 100% !important;
  border-radius: 6px 6px 0px 6px;
  display: flex !important;
}

.SingleDatePickerInput__withBorder:hover {
  border: 1px solid #acacac;
  display: flex !important;
  height: 38px;
  width: 100% !important;
  border-radius: 6px 6px 0px 6px;
}
.SingleDatePickerInput_calendarIcon {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  right: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  /* padding: 10px; */
  /* margin: 0 5px 0 10px; */
}

.DateInput_input {
  font-weight: 200;
  font-size: 14px !important;
  font-family: 'Prompt', 'Roboto', sans-serif;
  font-weight: normal;
  cursor: pointer;
  line-height: 24px;
  color: #333333;
  background-color: #fff;
  width: 100%;
  height: 34px;
  padding: 10px 16px;
  border: 0;
  margin-top: 2px;
  border-top: 0;
  border-right: 0;
  border-radius: 6px 6px 0px 6px !important;
  border-bottom: 2px solid transparent;
  border-left: 0;
}

.DateInput_input::placeholder {
  color: #acacac;
}

.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 100% !important;
  vertical-align: middle;
  border-radius: 6px 6px 0px 6px !important;
}
.SingleDatePickerInput_clearDate {
  background: 0 0;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.SingleDatePickerInput_clearDate:hover {
  background: transparent !important;
  outline: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.SingleDatePickerInput_clearDate_svg {
  fill: #82888a;
  height: 10px;
  width: 13px;
  vertical-align: middle;
}
.SingleDatePickerInput_clearDate_svg:hover {
  fill: #e4002b;
  height: 10px;
  width: 13px;
  vertical-align: middle;
}

.DateInput_input__focused {
  outline: 0;
  background: #fff;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #ffffff !important;
  border-left: 0;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}
/* text search */
