html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content{
  white-space: pre-line;
}

.ui.grid > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ui.input > input:disabled {
  background: #f5f5f5 !important;
  border: solid 1px #eaeaea !important;
}

.form-control.input {
  background: #f5f5f5;
  border: solid 1px #eaeaea;
}

.ui.input.action > input {
  border: none !important;
  height: 36px !important;
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
  opacity: 1 !important;
  border: none !important;
}

.ui.header {
  border: none;
  margin: 0 !important;
  padding: 0em 0em;
  font-family: 'Prompt', 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
}

.break-word {
  word-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.bg {
  background: url('../static/images/login-bg-2-2@3x.png') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui.segment {
  position: relative;
  background: #ffffff;
  /* -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15); */
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  /* margin: 1rem 0em; */
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: none !important;
}

.ui.pagination.menu {
  margin: 0em;
  display: inline-flex;
  vertical-align: middle;
  background: transparent;
  box-shadow: none;
}

.ui.pagination.menu .item {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 32px !important;
  height: 32px !important;
  min-width: 1em !important;
  background-color: transparent;
  margin: 0px 2px !important;
  color: #bababa;
  font-weight: 700;
  border-radius: 6px 6px 0px 6px;
  padding: 4px;
  user-select: none;
}

.ui.pagination.menu .item:hover {
  height: 32px !important;
  padding: 4px;
}

.ui.pagination.menu .active.item {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  border-top: none;
  background-color: #0057b8;
  border-radius: 6px 6px 0px 6px;
  color: #ecf0f6;
  font-weight: 700;
  padding: 4px;
  width: 32px;
  height: 32px;
  user-select: none;
}

.ui.pagination.menu .item:last-child {
  border-radius: 6px 6px 0px 6px;
  width: 32px !important;
  height: 32px !important;
  padding: 0px;
  background-color: #ffffff;
  box-shadow: none;
}

.ui.pagination.menu .active.item:last-child {
  border-radius: 6px 6px 0px 6px;
  width: 32px !important;
  height: 32px !important;
  padding: 0px;
  background-color: #af1717;
  box-shadow: none;
}

.ui.pagination.menu > .item:first-child {
  border-radius: 6px;
  width: 32px !important;
  height: 32px !important;
  padding: 0px;
  background-color: #ffffff;
  box-shadow: none;
}

/* .ui.pagination.menu > .active.item {
  color: #ffffff;
  background-color: #0057b8;
  border-radius: 6px 6px 0px 6px;
} */

.ui.pagination.menu > .item {
  color: #b1b3aa;
  background-color: #f6f6f6;
  transition: none;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: none;
  box-shadow: none;
  margin: 0px 8px;
}

.ui.pagination.menu {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.ui.pagination.menu .item:last-child {
  background-color: #ffffff;
  border-radius: 6px 6px 0px 6px;
  width: 32px !important;
  height: 32px !important;
}

.ui.pagination.menu .item:first-child {
  background-color: #ffffff;
  border-radius: 6px 6px 0px 6px;
  width: 32px !important;
  height: 32px !important;
}

.ui.menu .item:before {
  background: none;
}

.ui.menu.fixed {
  z-index: 0;
}

a:focus {
  outline: none !important;
}

i.icon.angle.left:before {
  content: '\f104';
  color: #222222;
}

i.icon.angle.right:before {
  content: '\f105';
  color: #222222;
}

input:focus {
  outline: none;
}

.input-hidden {
  display: none;
}

.ui.dimmer {
  background-color: rgba(51, 51, 51, 0.5) !important;
  z-index: 9999;
  position: fixed;
}

textarea::placeholder {
  color: #d9d9d6 !important;
}

textarea:focus {
  outline: none;
}

textarea:before {
  display: none;
}

.ui.checkbox {
  min-width: 20px !important;
  min-height: 20px !important;
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
  display: none;
}

.ui.search.selection.dropdown > input.search {
  padding: 6px 16px !important;
}

.ui.icon.input > input {
  padding-right: 30px !important;
}

.ui.input > input {
  padding: 6px 16px !important;
  height: 36px !important;
  width: 100% !important;
  border-radius: 6px 6px 0px 6px !important;
  border-color: #ffffff !important;
  outline: none !important;
}

.ui.input > input::placeholder {
  color: #d9d9d6 !important;
}

.upper {
  text-transform: uppercase !important;
}

.italic {
  font-style: italic;
}

.ui.list {
  font-size: 3em;
  color: '#0057b8' !important;
  align-self: start;
  text-transform: 'uppercase';
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column .pl-0 {
  padding-left: 0;
}

.click {
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  min-width: 60px !important;
}

.RSPBprogressBar {
  width: 100%;
  height: 3px !important;
  background-color: #d9d9d6;
}

/* 
.RSPBprogressBar .RSPBprogression {
  background-color: none !important;
  display: none !important;
} */

.indexedStep {
  color: white;
  min-width: 24px;
  min-height: 24px;
  font-size: 12px;
  background-color: #b1b3aa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.one {
  background-color: #1b1464;
}

.indexedStep.two {
  background-color: #002247;
}

.indexedStep.three {
  background-color: #013a7a;
}

.indexedStep.four {
  background-color: #0057b8;
}

.indexedStep.five {
  background-color: #00aeef;
}

.chartjs-render-monitor {
  height: 280px !important;
  width: auto !important;
}

.backgroundDarkNavy {
  background-color: rgba(0, 34, 71, 0.07);
}

.transitionStep {
  filter: grayscale(1);
}

.transitionStep.accomplished {
  filter: grayscale(0);
}

.ui.dropdown .menu {
  border-radius: 0px 0px 0px 6px;
  border: none !important;
  min-width: 100px !important;
  width: 100% !important;
}

.ui.dropdown .menu > .item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.ui.dropdown .menu .active.item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.ui.multiple.dropdown > .label {
  -webkit-box-shadow: none !important;
}

.ui.multiple.dropdown > .ui.label {
  padding: 0px 8px !important;
  background-color: rgba(27, 20, 100, 0.07) !important;
  border: none !important;
  border-radius: 6px !important;
  color: #1b1464 !important;
  align-items: center !important;
}

.ui.multiple.search.dropdown > input.search {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Prompt', 'Roboto', sans-serif !important;
}

.ui.label > .close.icon,
.ui.label > .delete.icon {
  width: 10px;
  height: 8px;
  cursor: pointer;
  margin-bottom: 1px;
  background-size: contain;
  background-image: url('../../static/images/close-x@3x.png') !important;
}

.ui.label > .close.icon,
.ui.label > .delete.icon {
  cursor: pointer;
  margin-right: 0em;
  margin-left: 0.5em;
  margin-bottom: 1px;
  font-size: 0.92857143em;
  opacity: 1;
  width: 10px;
  height: 8px;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  background-image: url('../static/images/close-x@3x.png') !important;
}

.ui.multiple.dropdown > .default.text {
  color: #b1b8be;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

i.icon.delete:before {
  content: '' !important;
}

/* dropdown Select  */

/* dropdown Select  */

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-109onse-indicatorSeparator {
  display: none !important;
}

/* .css-tlfecz-indicatorContainer {
  display: none !important;
}
.css-1gtu0rj-indicatorContainer {
  display: none !important;
} */

.css-1wa3eu0-placeholder {
  color: '#f3f4f5' !important;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

.css-19u095d-multiValue {
  background-color: #ffffff;
}

.css-26l3qy-menu {
  background-color: #ffffff;
  font-size: 14px !important;
}

.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.css-14jk2my-container {
  pointer-events: none;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  cursor: no-drop !important;
}

.css-1je89ak-multiValue .css-1onb82f .css-nni9p5 {
  width: 6px !important;
  height: 6px !important;
  background-image: url('../static/images/closeMulti.png') !important;
  background-size: cover;
  margin: 4px !important;
  padding: 8px;
  cursor: pointer !important;
}

.css-1je89ak-multiValue .css-1onb82f .css-nni9p5:hover {
  width: 6px !important;
  height: 6px !important;
  margin: 4px !important;
  padding: 8px;
  background-color: transparent;
  background-image: url('../static/images/closeMulti.png') !important;
  background-size: cover;
  cursor: pointer !important;
}

.Select-control {
  background-color: #fff;
  border-color: none !important;
  border-radius: 6px 6px 0px 6px;
  border: none !important;
  color: #333333 !important;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px !important;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Select-input {
  height: 36px !important;
}

.Select-input > input {
  color: #333333 !important;
}

.Select-input > input::placeholder {
  border-color: none !important;
  border: none !important;
  width: 100% !important;
  padding: 0 !important;
  height: 36px !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #333333 !important;
  left: 0;
  line-height: 38px !important;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding: 0px;
}

.Select-arrow-zone > span {
  position: relative;
  min-width: 18px !important;
  min-height: 18px !important;
  cursor: pointer;
  background-size: contain;
  background-image: url('../static/images/down@3x.png') !important;
}

.Select.is-open > .Select-control .Select-arrow {
  top: 0 !important;
}

.Select-arrow {
  border-color: none !important;
  border-style: none !important;
  border-width: none !important;
  display: inline-block;
  margin-top: 4px;
  padding: 0 !important;
  height: 0;
  width: 0;
}

.Select-clear {
  display: none !important;
  /* font-size: 18px; */
  /* line-height: 1; */
}

.ui.selection.dropdown {
  min-width: 5em !important;
  width: 100% !important;
  font-size: 14px !important;
  font-family: 'Prompt', 'Roboto', sans-serif;
}

.ui.transparent.input > input::placeholder {
  color: #b1b3aa !important;
}

@media only screen and (min-width: 280px) {
  .w-highlight {
    width: 320px;
  }
  .img-header {
    padding-left: 64px;
  }
  .menu-slide-desktop {
    display: none !important;
  }
  .menu-profile {
    display: none !important;
  }
  .menu-profile-text {
    display: inline !important;
  }
  .pl-Bottombar {
    padding: 15px;
  }
  .PageWrapper {
    padding-left: 0px !important;
  }
  /* menu */
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 24px;
    top: 34px;
    outline: none !important;
  }
  .bm-burger-button > button:hover {
    outline: none !important;
    background-color: none !important;
  }
  .bm-burger-button > span:hover {
    outline: none !important;
    background-color: #00aeef !important;
  }
  .bm-burger-button > button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0057b8;
    border-radius: 6px;
  }
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #bdc3c7;
    border-radius: 6px;
  }
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross-button:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  .bm-cross-button > span:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  .bm-cross-button > button:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 0;
    font-size: 1.15em;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  .bm-item:focus {
    outline: none !important;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 360px) {
  .w-highlight {
    max-width: 360px;
    width: 100%;
  }
}
@media only screen and (min-width: 375px) {
  .w-highlight {
    width: 320px;
    max-width: 320px;
  }
}
@media only screen and (min-width: 411px) {
  .w-highlight {
    /* width: 350px; */
    max-width: 350px;
    width: 100%;
  }
}
@media only screen and (min-width: 414px) {
  .w-highlight {
    max-width: 350px;
    width: 100%;
  }
}
@media only screen and (min-width: 425px) {
  .w-highlight {
    max-width: 361px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .w-highlight {
    max-width: 704px;
    width: 100%;
  }
  .img-header {
    padding-left: 64px;
  }
  .menu-slide-desktop {
    display: none !important;
  }
  .menu-profile {
    display: inline !important;
  }
  .menu-profile-text {
    display: none !important;
  }
  .pl-Bottombar {
    padding: 15px;
  }
  .PageWrapper {
    padding-left: 0px !important;
  }
  /* menu */
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 24px;
    top: 34px;
    outline: none !important;
  }
  .bm-burger-button > button:hover {
    outline: none !important;
    background-color: none !important;
  }
  .bm-burger-button > span:hover {
    outline: none !important;
    background-color: #00aeef !important;
  }
  .bm-burger-button > button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0057b8;
    border-radius: 6px;
  }
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #bdc3c7;
    border-radius: 6px;
  }
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross-button:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  .bm-cross-button > span:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  .bm-cross-button > button:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 0;
    font-size: 1.15em;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  .bm-item:focus {
    outline: none !important;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (min-width: 800px) {
  .w-highlight {
    max-width: 736px;
    width: 100%;
  }
}
@media only screen and (min-width: 810px) {
  .w-highlight {
    max-width: 746px;
    width: 100%;
  }
}
@media only screen and (min-width: 834px) {
  .w-highlight {
    max-width: 770px;
    width: 100%;
  }
}
@media only screen and (min-width: 896px) {
  .w-highlight {
    max-width: 832px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .w-highlight {
    max-width: 960px;
    /* max-width: 1024px; */
    width: 100%;
  }
  .img-header {
    padding-left: 64px;
  }
  .menu-slide-desktop {
    display: none !important;
  }
  .menu-profile {
    display: inline !important;
  }
  .menu-profile-text {
    display: none !important;
  }
  .pl-Bottombar {
    padding: 15px;
  }
  .PageWrapper {
    padding-left: 0px !important;
  }
  /* menu */
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 24px;
    top: 34px;
    outline: none !important;
  }
  .bm-burger-button > button:hover {
    outline: none !important;
    background-color: none !important;
  }
  .bm-burger-button > span:hover {
    outline: none !important;
    background-color: #00aeef !important;
  }
  .bm-burger-button > button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0057b8;
    border-radius: 6px;
  }
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #bdc3c7;
    border-radius: 6px;
  }
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross-button:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  .bm-cross-button > span:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  .bm-cross-button > button:focus {
    height: 24px;
    width: 24px;
    outline: none !important;
  }
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 0;
    font-size: 1.15em;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  .bm-item:focus {
    outline: none !important;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 1280px) {
  .w-highlight {
    max-width: 1216px;
    width: 100%;
  }
  .img-header {
    padding-left: 32;
  }
  /* .bm-burger-button {
    display: none !important;
  } */
}

@media only screen and (min-width: 1366px) {
  .w-highlight {
    max-width: 1082px;
    width: 100%;
  }
  .img-header {
    padding-left: 18px;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 204px;
    top: 34px;
    outline: none !important;
    display: block !important;
  }
  .menu-slide-desktop {
    display: inline !important;
  }
  .menu-profile {
    display: inline !important;
  }
  .menu-profile-text {
    display: none !important;
  }
  .PageWrapper {
    padding-left: 220px !important;
  }
  .PageWrapper-page {
    padding-left: 0px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .w-highlight {
    max-width: 1165px;
    width: 100%;
  }
  .img-header {
    margin-left: 0px !important;
  }
  .pl-Bottombar {
    padding: 15px 200px;
  }
  .menu-slide-desktop {
    display: inline !important;
  }
  .menu-profile {
    display: inline !important;
  }
  .menu-profile-text {
    display: none !important;
  }

  /* menu */
  /* Position and sizing of burger button */

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 204px;
    top: 34px;
    outline: none !important;
    display: block !important;
  }
  .card-status-vp {
    padding: 0px 80px;
  }
}
@media only screen and (min-width: 1536px) {
  .w-highlight {
    max-width: 1252px;
    width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .w-highlight {
    max-width: 1316px;
    width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .w-highlight {
    max-width: 1636px;
    width: 100%;
  }
  /* menu */
  /* Position and sizing of burger button */
  .bm-burger-button {
    display: block !important;
  }
  .card-status-vp {
    padding: 0px 120px;
  }
}

.no-in-print {
  display: inline-block !important;
}

.show-in-print {
  display: none !important;
}

.w-table {
  width: 'auto';
}

@media print {
  .no-print {
    display: none !important;
  }

  .pt {
    margin-top: 24px !important;
  }

  .no-in-print {
    display: none !important;
  }

  .show-in-print {
    display: inline-block !important;
  }

  .show-print {
    display: inline-block !important;
  }

  .print-pagebreak {
    page-break-after: always;
  }

  .w-table {
    width: 920px;
  }
}

.RSPBprogressBar {
  height: 10px;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: rgba(211, 211, 211, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
.RSPBprogressBar .RSPBstep {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  transform: translateX(-50%);
  transition-property: all;
  transition-timing-function: ease;
}
.RSPBprogressBar .RSPBprogressBarText {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.RSPBprogressBar .RSPBprogression {
  position: absolute;
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgba(0, 116, 217, 0.8);
  z-index: -1;
}
