@font-face {
  font-family: "Heavent";
  src: url("../static/fonts/DBHeaventt-Light.eot");
  src: url("../static/fonts/DBHeaventt-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/DBHeaventt-Light.svg#DBHeaventt-Light") format("svg"),
    url("../static/fonts/DBHeaventt-Light.ttf") format("truetype"),
    url("../static/fonts/DBHeaventt-Light.woff") format("woff"),
    url("../static/fonts/DBHeaventt-Light.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Heavent";
  src: url("../static/fonts/DBHeavent-Med.eot");
  src: url("../static/fonts/DBHeavent-Med.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/DBHeavent-Med.svg#DBHeavent-Med") format("svg"),
    url("../static/fonts/DBHeavent-Med.ttf") format("truetype"),
    url("../static/fonts/DBHeavent-Med.woff") format("woff"),
    url("../static/fonts/DBHeavent-Med.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Heavent";
  src: url("../static/fonts/DBHeavent-Bold.eot");
  src: url("../static/fonts/DBHeavent-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/DBHeavent-Bold.svg#DBHeavent-Bold") format("svg"),
    url("../static/fonts/DBHeavent-Bold.ttf") format("truetype"),
    url("../static/fonts/DBHeavent-Bold.woff") format("woff"),
    url("../static/fonts/DBHeavent-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* / font Promt/ */
@font-face {
  font-family: "Prompt";
  src: url("../static/fonts/Prompt-Light.eot");
  src: url("../static/fonts/Prompt-Light.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Prompt-Light.svg#Prompt-Light") format("svg"),
    url("../static/fonts/Prompt-Light.ttf") format("truetype"),
    url("../static/fonts/Prompt-Light.woff") format("woff"),
    url("../static/fonts/Prompt-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("../static/fonts/Prompt-Regular.eot");
  src: url("../static/fonts/Prompt-Regular.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Prompt-Regular.svg#Prompt-Regular") format("svg"),
    url("../static/fonts/Prompt-Regular.ttf") format("truetype"),
    url("../static/fonts/Prompt-Regular.woff") format("woff"),
    url("../static/fonts/Prompt-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("../static/fonts/Prompt-Medium.eot");
  src: url("../static/fonts/Prompt-Medium.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Prompt-Medium.svg#Prompt-Medium") format("svg"),
    url("../static/fonts/Prompt-Medium.ttf") format("truetype"),
    url("../static/fonts/Prompt-Medium.woff") format("woff"),
    url("../static/fonts/Prompt-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("../static/fonts/Prompt-Bold.eot");
  src: url("../static/fonts/Prompt-Bold.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Prompt-Bold.svg#Prompt-Bold") format("svg"),
    url("../static/fonts/Prompt-Bold.ttf") format("truetype"),
    url("../static/fonts/Prompt-Bold.woff") format("woff"),
    url("../static/fonts/Prompt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* / font Roboto/ */
@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto-Light.eot");
  src: url("../static/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Roboto-Light.svg#Roboto-Light") format("svg"),
    url("../static/fonts/Roboto-Light.ttf") format("truetype"),
    url("../static/fonts/Roboto-Light.woff") format("woff"),
    url("../static/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto-Regular.eot");
  src: url("../static/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"),
    url("../static/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../static/fonts/Roboto-Regular.woff") format("woff"),
    url("../static/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto-Medium.eot");
  src: url("../static/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg"),
    url("../static/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../static/fonts/Roboto-Medium.woff") format("woff"),
    url("../static/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto-Bold.eot");
  src: url("../static/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg"),
    url("../static/fonts/Roboto-Bold.ttf") format("truetype"),
    url("../static/fonts/Roboto-Bold.woff") format("woff"),
    url("../static/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.dbhelvethaicamon {
  font-family: "Prompt", "Roboto", sans-serif;
}

/*
    customize font for semantic-ui
*/

body {
  font-family: "Prompt", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.button {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.text.container {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.input input {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.list .list > .item .header,
.ui.list > .item .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.steps .step .title {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"] {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.menu {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.message .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.cards > .card > .content > .header,
.ui.card > .content > .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.items > .item > .content > .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.statistics .statistic > .value,
.ui.statistic > .value {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.statistics .statistic > .label,
.ui.statistic > .label {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.accordion .title:not(.ui) {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.modal > .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.popup > .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.search > .results .result .title {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.search > .results > .message .header {
  font-family: "Prompt", "Roboto", sans-serif;
}

.ui.category.search > .results .category > .name {
  font-family: "Prompt", "Roboto", sans-serif;
}
/*
    end of customize font for semantic-ui
*/
